:root{
    --bg-color:#2c2c2c;
    --primary-color:#ffcc00;
    --secondary-color:#ff8800;
    --button-bg-color:#ff4500;
    --button-hover-bg-color:#ff6347;
    --button-text-color:white;
    --font-family:'Helvetica Neve', Arial, sans-serif;
    --font-size:1rem;
    --border-radius:0.5rem;
    --padding:1rem;
    --button-padding:1.25rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var();
}